* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  color: #1f2937;
  background: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: linear-gradient(90deg, #222222, #005ac8);
  color: #fff;
  padding: 15px 30px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffd700;
}

/* Hamburger */
.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

#toggle-menu {
  display: none;
}

.icon {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 190px;
}

/* Header */
.judul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #e5e7eb;
}

.judul h1 {
  font-size: 50px;
  color: #0b5ed7;
}
.subtitle {
  font-size: 25px;
  color: #585858;
  margin: 5px 0 15px;
}

/* Content */
.content {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
}
.content h3 {
  margin-bottom: 12px;
  color: #0b5ed7;
}
.content p,
.content ul,
.content img {
  margin-bottom: 15px;
}
.content ul {
  list-style: none;
}
.content li {
  margin: 5px 0;
}

/* Image */
.media {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 10px auto;
  border-radius: 6px;
}

/* Tombol kembali di bawah */
.back-button {
  text-align: center;
  margin: 30px 0;
}
.back-button .btn {
  background: #1976d2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.back-button .btn:hover {
  background: #0d47a1;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: #f9fafb;
}
