/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: #fff;
  padding: 15px 30px;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffd700;
}

/* Hamburger */
.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

#toggle-menu {
  display: none;
}

/* Hero */
.hero {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 70px;
  margin-bottom: 10px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 7px;
}

.hero span {
  color: #ffd700;
}

.hero p {
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 4px 7px;
}

/* About Us */
.about,
.vision,
.projects,
.achievements,
.comments {
  padding: 50px 20px;
  text-align: center;
}

.about h2 {
  font-size: 40px;
}

.about p {
  max-width: 900px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 500;
}

.visi-penghargaan {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.vision,
.achievements {
  flex: 1;
  background: #fff;
  padding: 0px;
}

/* Visi & Misi */
.vision-mission {
  margin-top: 20px;
}

.vision-mission .visi {
  min-width: 450px;
  margin-bottom: 15px;
  background: linear-gradient(180deg, #00c6ff, #0072ff);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 7px;
}

.vision-mission .misi {
  min-width: 450px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 7px;
}

.vision-mission h3 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 15px;
}

.vision-mission p {
  font-size: 20px;
  font-weight: 600;
}

.vision-mission li {
  font-size: 20px;
  font-weight: 550;
  list-style-type: none;
}

.vision-mission div {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note {
  font-size: 0.9rem;
  margin-top: 10px;
  color: #666;
}

/* penghargaan */
.achievements h2 {
  font-size: 45px;
  font-weight: bold;
  text-align: start;
}

.achievements ul {
  text-align: start;
  list-style: none;
  margin-top: 20px;
}

.achievements li {
  margin: 10px 0;
  font-size: 20px;
}

/* Team Section */
.team {
  padding: 50px 20px;
  text-align: center;
}

.team h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 70px;
}

.team-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.team-card:hover {
  transform: translateY(-8px);
}

.team-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.team-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.team-card p {
  font-size: 16px;
  color: #555;
}

/* Projects */
.projects h2 {
  font-size: 40px;
}

.project-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

/* Button detail */
.btn-detail {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #004080;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s;
}

.btn-detail:hover {
  background: #003366;
}

/* form komen */
.comment-form {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment-form input,
.comment-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.comment-form button {
  background: #004080;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.comment-form button:hover {
  background: #003366;
}

/* Footer */
.footer {
  background-color: #004080;
  padding: 20px 10px;
  text-align: center;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer img {
  width: 50px;
  height: 50px;
  padding: 5px;
  transition: transform 0.3s;
}

.sosial-icons a img:hover {
  transform: scale(1.6);
}

/* Responsive Menu */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    background: #003366;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }
  #toggle-menu:checked ~ .menu {
    display: flex;
  }
}
