* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #0072ff;
  color: #fff;
  padding: 15px 30px;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffd700;
}

/* Hamburger */
.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

#toggle-menu {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 120px);
}

main .tag {
  font-size: 45px;
  margin-bottom: -10%;
}

.form-login {
  display: flex;
  flex-direction: column;
  text-align: start;
  min-width: 480px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #dddddd;
  border-radius: 15px;
}

.form-login h2 {
  text-align: left;
  margin-bottom: 20px;
}

.form-login label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

.form-login input {
  margin-bottom: 15px;
  margin-right: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div .checklist {
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-login button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #cfcfcf;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.4s;
}

.form-login button a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.form-login button:hover {
  background-color: #ff9a02;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: #f9fafb;
}
